body {
    background-color: #646F58;
}

.knop1 {
    background-color: #504B3A; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;


}

.homeknop {
    background-color: transparent;
    border-width: 5px;
    border-color: #504B3A;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;


}

.logo {
left: 500px;


}